@charset "UTF-8";


html{
  overflow-y: scroll;
  overflow-x: auto;
}
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	  color: #3e3e3e;
	 font-weight: 300;
    font-style: normal;
	line-height: 1;
    min-width: 320px;
	padding: 0 !important;
}

.container {
	max-width: 1344px;
	width: 100%;
	padding: 0 10px;

}

a {
	color: #000;
		text-decoration: none;
		transition: all 0.4s ease;

}
 a:hover, a:focus {
		text-decoration: none;
}
p {
	margin: 10px 0;
}

img {
	width: initial;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

* {
	outline: none !important;
}
 

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0 5px;
}

.row {
	margin: 0 -5px;
}

.header__top {
	background: #eaeaea;
	padding: 6px 0;
	
}

.header__topitems {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__topmenu ul li a {
  font-size: 13px;
  line-height: 1;
    color: #666666;
 
}
.header__topmenu ul li {
	list-style: none;
	margin-right: 35px;
	display: inline-block;
	line-height: 1;
	    vertical-align: text-top;
}


.headerlogin a {
	 font-size: 13px;
  color: #666666;
  display: block;
}

.headerlogin__icon svg {
	width: 22px;
}
.headerlogin__icon svg path {
	fill: #666666;
}
.headerlogin__caption {
	padding-left: 1px;
	display: inline-block;
	vertical-align: middle;
}

.headerlogin__icon {
	display: inline-block;
	vertical-align: middle;
}

.headericons__item_fav .headericons__icon svg {
	width: 23px;
}
.headericons__item_cart .headericons__icon svg {
	width: 28px;
}
.headericons__icon svg path {
	fill: #3e3e3e !important;
}

.header__main {
	padding: 20px 0;
}

.headermain__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headermain__block {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.headericons {
	display: flex;
	align-items: center;	
	padding: 0 14px;
}

.headericons__item {
	margin-left: 30px;
	position: relative;
}
.headericons__item a{
	display: block;
}

.headericons__count {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #af9d74;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 23px;
    position: absolute;
    top: -10px;
    right: -14px;
    left: unset;
  font-size: 12px;
 

}

.phone a {
  font-size: 18px;
  color: rgb(62, 62, 62);
 font-weight: 600;
 white-space: nowrap;
 
}

.phone {
	margin-bottom: 3px;
}

.headermain__callback a {
  font-size: 13px;
  color: #af9d74;
  border-bottom: 1px dotted #af9d74;
  font-weight: 500;
   white-space: nowrap;
}

.headermain__item_right {
	width: calc(100% - 532px);
}

.mainmenu__icon svg {
	width: 29px;
	height: 29px;
	
}

.mainmenu__icon_catalog svg {
	width: 20px;
	height: 19px;
}


.mainmenu__icon svg path {
	fill: #fff !important;
}
.mainmenu__icon svg g {
	fill: #fff !important;
}


.mainmenu__icon  {
	    display: flex;
}

.mainmenu__caption {
	 color: rgb(255, 255, 255);
	 padding-left: 7px;
}


.header__nav {
	height: 46px;
	background: #3e3e3e;
}
ul.mainmenu__links {
	display: inline-block;
}
ul.mainmenu__links > li {
	display: inline-block;
	    vertical-align: top;
}

ul.mainmenu__links > li > a {
	padding: 0 15px;
	height: 46px;
	white-space: nowrap;
	line-height: 46px;
	display: flex;
	align-items: center;	
}

ul.mainmenu__main {
	display: inline-block;
}
ul.mainmenu__main > li {
	display: inline-block;
	    vertical-align: top;
}




ul.mainmenu__main > li.mainmenu__catalog > a {
	background: #af9d74;
	  font-size: 14px;
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  text-transform: uppercase;
	display: block;
	height: 46px;
	white-space: nowrap;
	line-height: 46px;
	padding: 0 22px;
	display: flex;
	align-items: center;	
	
}


.mainmenu__caption_catalog {
	padding-right: 20px;
	padding-left: 0;
}

.mainmenu__links {
	padding: 0 14px;
}
.search {
	position: relative;
}
.search input {
	font-size: 13px;
    line-height: 1;
    color: #666666;
	height: 30px;
	line-height: 30px;
	display: block;
	padding: 7px 15px;
	border-radius: 6px;
	width: 100%;
	border: none;
}

   


/* Style the submit button */
.search form button {
	position: absolute;
	right: 5px;
	top: 7px;
	z-index: 2;
	background: none;
	border: none;
}
.search form button svg  {
	width: 14px;
	height: 14px;
}
.search form button svg path {
	fill: #3e3e3e;
}


/* Clear floats */
.search form::after {
  content: "";
  clear: both;
  display: table;
}



.search input::-webkit-input-placeholder {
	font-size: 13px;
    line-height: 1;
    color: #666666;
}

.search input::-moz-placeholder {
    font-size: 13px;
    line-height: 1;
    color: #666666;
}

.search input:-ms-input-placeholder {
    font-size: 13px;
    line-height: 1;
    color: #666666;
}

.search input:-moz-placeholder {
    font-size: 13px;
    line-height: 1;
    color: #666666;
}
.headernav__items {
		display: flex;
	justify-content: space-between;
	align-items: center;
}

.headernav__item_search {
	width: calc(100% - 532px);
}

.headernav {
	position: relative;
}

.mainmenu__submenu {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 46px;
	box-shadow: 0 5px 20px -7px #666666;
	border-top: 4px solid #af9d74;
	padding: 24px 30px;
	background: #fff;
}

@media (min-width: 1000px) {
	.mainmenu__catalog:hover .mainmenu__submenu {
		display: block;
		z-index: 9;
	}
}

.submenucustom {
	width: 285px;
}

.submenu__items {
	display: flex;
	justify-content: space-between;
	margin: 0 -5px;
}

.submenucustom__image {
    position: relative;
    right: -1px;
}

.submenu__title {
  font-size: 16px;
  color: #af9d74;
  text-transform: uppercase;
  margin-bottom: 20px;
      font-weight: 600;
}


.submenu__list ul li  {
  
  margin-bottom: 16px;
}
.submenu__item {
	padding: 0 5px;
}
.submenu__list ul li a {
	font-size: 14px;
  color: #3e3e3e;
  font-weight: 500;
      max-width: 200px;
    display: block;
}

.submenucustom__link a  {
  font-size: 16px;
    color: #af9d74;
  text-decoration: underline;
  font-weight: 600;
}
.submenucustom__image {
	margin-bottom: 22px;
}


.mainslider__container {
	position: relative;
}
.mainslider__arrows {
    position: absolute;
    top: calc(50% - 40px);
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.mainslider__arrows div {
    cursor: pointer;
}

.mainslider__title {
  font-size: 67px;
  color: rgb(255, 255, 255);
  line-height: 1.075;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.mainslider__subtitle {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 30px;
}

.mainslider__wrapper {
	height: 525px;
	background-position: center;
	display: flex;
	align-items: center;
}
.mainslider__content {
	text-align: center;
	max-width: 720px;
	margin: auto;
	padding: 30px 10px;
}
.btn_main {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
 background: #af9d74;
 border-radius: 6px;
 padding: 20px 20px;
 display: inline-block;
 margin: 5px auto;
}
.btn_main:hover, .btn_main:focus {
	background: #b4a480;
	color: rgb(255, 255, 255);
}
ul.mainmenu__main > li.mainmenu__catalog > a:hover,
ul.mainmenu__main > li.mainmenu__catalog > a:focus {
	background: #b4a480;
	color: rgb(255, 255, 255);
}

.mainslider {
	margin: 18px 0;
}

.slick-dots {
	text-align: center;
}
.slick-dots ul {
    display: inline-block;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-slider{overflow:initial;}
.slick-dots {
margin-left: -3px;
}
.slick-dots li {
	  width: 11px;
  height: 11px;
      margin: 0 5px;
	  
}

.slick-dots li button  {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #b1b1b1;
  margin: 0 5px;
  float: left;
  border: none;
}
.slick-dots li button:before {
	display: none;	
}
.slick-dots li:hover {
	cursor: pointer;
}

.slick-dots li.slick-active button {
	background-color: #ffffff;
}

.slick-dots {
	    display: inline-block;
	bottom: 15px;
}

.topmenubutton__close {
	display: none;
}


	.onlymobile {
		display: none;
	}
	

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #af9d74;
	box-sizing: border-box;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	    height: 7px;
}
.ui-slider-horizontal .ui-slider-handle { 
	    top: -7px;
	margin-left: -5px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 

	height: 5px;

	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 222px;
}
.ui-widget-header { 
	border: none;
	background: #d7ceba;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.filter__header {
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	cursor: pointer;
	background-image: url(/images/plus2.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.filter__form {
	padding-top: 5px;
	padding-bottom: 15px;
}

.filter__item .filter__header span {

  font-size: 16px;
  color: rgb(62, 62, 62);
  font-weight: bold;
  text-transform: uppercase;
}

 
.filter__item_open .filter__header  {
background-image: url(/images/minus2.png);
	background-position: right center;
	background-repeat: no-repeat;


}

.filter__item  {
	border-bottom: 1px solid rgba(211,211,211,1);

}

.filter__item svg {
	transform: rotate(-180deg);
}

.filter__item svg path {
	opacity: 1;
}

.filter__item_open svg {
	transform: none;
}

.filter__item_open svg path {
	opacity: 0.5;
}

.filter__item_close .filter__form {
	display: none;
}


 .formCost input{
	width: 79px;
	height: 34px;
	line-height: 34px;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
	border-radius: 2px;
 }
 
 .delim {
	 color: rgba(82,98,114,0.5);
 }

 
.formCost input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input::-moz-placeholder {
	/* Firefox 19+ */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input:-ms-input-placeholder {
	/* IE 10+ */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.formCost input:-moz-placeholder {
	/* Firefox 18- */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	color: rgba(82,98,114,0.5);
}

.sliderCont {
	width: 100%;
	max-width: 232px;

	    height: 20px;

}	

.formCost {
    margin: 7px 0;
}


.formCost__inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;

	   
}

#slider {
	width: 100%;
	max-width: calc(100% - 10px);
	margin: auto;
}

.filter__price {
		width: 100%;
	max-width: 232px;
}



span.dcheckbox__text {
    padding: 0 0 0 19px;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
	font-size: 13px;
	color: rgb(62, 62, 62);
	transition: all 0.3s ease;
	font-weight: 400;

 }
 span.dcheckbox__count {
	font-weight: 400;
	color: rgb(169 169 169);

 }
 

 
 .dcheckbox input[type=checkbox]  {
	 display: none;
 }
 
 span.dcheckbox__text:before {
    content: "";
    display: block;
    position: absolute;
	width: 12px;
	height: 12px;
	opacity: 1;
	border: 1px solid #999999;
	box-sizing: border-box;
	border-radius: 2px;
    left: 0;
    top: 0;
}


.dcheckbox label {
	padding-left: 0;
	cursor: pointer;
	margin-bottom: 12px;
	transition: all 0.3s;
	font-weight: 600;
}


.dcheckbox label:hover .dcheckbox__text {
	opacity: 0.8;
}

.dcheckbox input[type=checkbox]:checked + .dcheckbox__text:before {
	background:#af9d74;
	border-color: #af9d74;
}


.filter__item {
	margin-bottom: 16px;
}
	

.filter__items .filter__item:last-child .filter__form {
		border-bottom: none;
	}
.filter__buttons {
	display: none;
}

.buttonfilter {
	display: none;
}

.filter__close {
	display: none;
}	
	
.filter {
	width: 210px;
	padding: 10px;
}

.catalogpage__items {
	display: flex;
	
}

.ccheckbox__text {
	border: 1px solid #dee2e6;
	height: 30px;
	width: 30px;
	border-radius: 4px;
	display: block;
	cursor: pointer;
}

.filter__checkbox_colors {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.colorcheckbox {
	margin: 0 5px 5px 5px;

}


.colorcheckbox input[type=checkbox] {
    display: none;
}


.colorcheckbox input[type=checkbox]:checked + .ccheckbox__text {
	border: 1px solid #af9d74;
	box-shadow: 0 0 2px 2px #af9d74;

}
	
@media (max-width: 1343px) {
	.submenucustom {
		width: 225px;
	}

}


@media (max-width: 999px) {
	.headermain__buttons {
		position: absolute;
		    top: 9px;
		right: 33px;
	}
	
	.mainslider__title {
		font-size: 20px;
	}
	.headermain__item_right {
		width: initial;
	}
	.headernav__items {
		display: block;
	}
	ul.mainmenu__links {
		display: none;
	}
	.headerlogin__caption {
		display: none;
	}
	.headericons__count {
		height: 18px;
		width: 18px;
		top: -7px;
		right: -10px;
		font-size: 10px;
    line-height: 18px;
		
	}
	.headericons__item_cart .headericons__icon svg {
		width: 22px;
	}
	.headericons__item_fav .headericons__icon svg {
		width: 20px;
	}
	.headericons__item {
		margin-left: 18px;
		position: relative;
	}
	.header__top {
		padding: 6px 0 4px 0;
	}
	.topmenubutton img {
	    vertical-align: revert;
	}
	.topmenubutton__close {
		display: block;
		right: 5px;
		top: 5px;
		position: absolute;
		z-index: 2;
	}
	.header__topmenu {
		display: none;
		position: absolute;
		top: 10px;
		left: 5px;
		background: #fff;
		box-shadow: 0 5px 10px -5px #333;
		padding: 20px 25px 5px 25px;
		z-index: 10;
		width: 250px;
		
	}
	.header__topmenu ul li {
		display: block;
		margin-bottom: 19px;
	}
	.header__topmenu ul li a {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 20px;
		color: #000;
	}
	.phone a {
		font-size: 14px;
		    font-weight: 700;
	}
	.onlydesktop {
		display: none;
	}
	.onlymobile {
		display: block;
	}
	.container {
		padding: 0 5px;
	}
	ul.mainmenu__main > li {
		display: block;
	}
	ul.mainmenu__main {
		display: block;
	}
	.mainmenu__icon {
		display: none;
	}
	.mainmenu {
		margin: 0 -5px;
	}
	.headernav__item_search {
		width: initial;
	}
	.search__button svg g {
		fill: #fff;
	}
	.search__button svg {
		width: 14px;
		height: 14px;
	}
	span.search__button {
		position: absolute;
		top: 17px;
		right: 0px;
		z-index: 3;
		height: 100%;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		top: 0;
	}
	.search {
		position: absolute;
		width: 0;
		position: absolute;
		top: 9px;
		transition: all 0.5s ease;
    opacity: 0;
	z-index: -1;
	}
	.search.search_open {
		width: 100%;
		opacity: 1;
	z-index: 3;
	}
	.closesearch {
		position: absolute;
		left: 5px;
		z-index: 3;
		opacity: 0.5;
		top: 9px;
	}
	.search input {
		padding-left: 25px;
	}
	.header__main {
		padding: 12px 0;
	}
	.mainmenu__submenu {
		z-index: 9;
		display: none;
		left: -5px;
		padding: 10px;
		background: #887a5a;
		width: calc(100% + 10px);
		
	}
	.submenu__items {
		display: block;
	}
	.submenu__item {
				border-bottom: 1px solid #a0957b;
padding: 0 0 10px 0;
		margin: 0 0 10px 0;
	}
	
	.submenu__list {
		display: none;
		margin-top: 15px;
	}
	.submenu__item.submenu__item_image {
		display: none;
	}
	.submenu__list ul li a {
		color: #fff;
		font-weight: 300;
		font-size: 13px;
	}
	.submenu__list ul li {
		margin-bottom: 11px;
	}
	
	.submenu__title {
		color: #f3daa1;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 300;
		background-image: url(/images/plus.png);
		background-position: right center;
		background-repeat: no-repeat;

	}
	.submenu__title.active {
		background-image: url(/images/minus.png);
		background-position: right center;
		background-repeat: no-repeat;
	}
	.submenu__items .submenu__item_last {
		margin-bottom: 0;
		border-bottom: none;
	}
	ul.mainmenu__main > li.mainmenu__catalog > a {
		padding-left: 5px;
	}
}




































